body{
  position: relative;
  padding-top: 3.5rem;
  overflow-x: hidden;
}

.starter-template{
  padding: 3rem 1.5rem;
  text-align: center;
}

/* NavBar */

.navbar{
  border: 0;
  border-radius: 0;
  color: white;
  background-color: #000;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.active{
  border-bottom: 2px solid #fff;
}
/* Carousel */
.carousel-caption{
  padding-bottom: 12%;
}

.carousel-caption h3{
  font-size: 42px;
  font-weight: bold;
}

.carousel-caption p{
  font-size: 24px;
  color: #fff;
}

.my-carousel{
  margin-top: 10px;
}
/* Buttons */

.btn-info{
  background-color: #2b2b2b;
  padding: 1rem 4rem;
  border: 3px solid transparent;
}

.btn-info:hover{
  background-color: transparent;
  border: 3px solid #2b2b2b;
  color: #2b2b2b;
}

/*  Specials  */
.specials{
  background: #2b2b2b;
  padding: 50px 0px;
  color: #fff;
  align-content: center;
}

/* Family */

#family{
  padding: 50px 10px;
  background: linear-gradient(#f59595,#fc0808);
}

/* MEnu */

#menu{
  padding: 50px 10px;
}

.card{
  box-shadow: 2px 5px 25px #777;
}
.modal-center{
  top:50%;
  transform: translateY(-50%) !important;
}
.modal-content{
  background: #2b2b2b;
}

.mn{
  color: #fff;
}

/* Parallax */

#plx{
  background: url(img/woodfiredpizza3.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.plx-title{
  padding: 105px 20px;
}

.plx-title h2{
  font-size: 20px;
  font-weight: bold;
}

/* Drinks and Extras */

#drinks-extras{
  background-color: #2b2b2b;
  padding: 100px 20px;
}

.de-title{
  padding-bottom: 50px;
}


/* REVIEWS */
#reviews {
  background: linear-gradient(#f59595,#fc0808);
}

.reviews{
  padding: 100px;
}

.review-img{
  max-height: 100px;
}

.active{
  border: none;
}

.review-inner{
  min-height: 300px;
}

/* SPECIAL BOX */
.pop-box{
  width: 300px;
  box-shadow: 5px 15px 25px #555;
  position: fixed;
  z-index: 9999;
  right: -300px;
  bottom: 15%;
  transition: .6s ease-in-out;
}

.pop{
  width: 370px;
  background: #fc0808;
  padding-top: 7px;
  padding-left: 7px;
  margin-left: -55px;
  margin-top: -2px;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 10px 25px #555;
}

.pop img{
  padding-right: 60px;
}

.pop-box:hover{
  right: 0px;
}
/* JUMBOTRON */
#jumbo{
  background: #e9ecef;
}

/* Contact Form */

#contact{
  background: #2b2b2b;
  padding: 100px 0;
  box-shadow: 5px 10px 5px #555;
  position: relative;
  z-index: 22;
}

/* Footer */

#footer{
  background: #2b2b2b;
}

#OrderingPagefooter{
  background: #2b2b2b;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
}

.copyrights{
  padding-top: 15px;
}

/* Back To Top Arrow */

.btt{
  background: #fc08087a;
  width: 65px;
  position: fixed;
  right: -10px;
  bottom: 50px;
  z-index: 9998;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 10px 25px #555;
  opacity: 0;
}

.btt:hover{
  background: #fc0808;
  box-shadow: 5px 10px 25px #555;
}

.btt i{
  color: #ffffff7a;
  font-size: 45px;
  padding: 7px;
}

.btt i:hover{
  color: #fff;
}

.hide {
  opacity: 0;
}
.show {
  opacity: 1;
}

/* Media Query*/
@media only screen and (max-width:1500px){
  .carousel-caption{
    padding-bottom: 8%;
  }
}
@media only screen and (max-width:1199px){
  .carousel-caption h3{
    font-size: 32px;
  }
  .carousel-caption p{
    font-size: 18px;
  }
}
@media only screen and (max-width:991px){
  .carousel-caption h3{
    font-size: 32px;
  }
  .carousel-caption p{
  }
}
@media only screen and (max-width:767px){
  .carousel-caption h3{
    font-size: 24px;
  }
  .carousel-caption{
    padding-bottom: 6%;
  }
}
@media only screen and (max-width:575px){

}

/************************** ORDERING PAGE CSS*****************************/

.order-type-main{
  background: #000;
}

.radio-btn{
  color: white;
  display: table-cell;
  vertical-align: middle;
  cursor: pointer;
}

.dropbtn{
  border-radius: 10px;
  cursor: pointer;
  border: none;
  font-size: 16px;
  text-decoration: none;
}

#order-footer{
  background: linear-gradient(#2b2b2b,#2b2b2b);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

.copyrights{
  padding-top: 15px;
}

.order-home-img .d-block {
    max-height:875px !important;
    max-width: 1400px !important;
}

.center-div-left{
  margin: 25%;
}

.submit-ot-btn{
  margin: 20px;
}

@media only screen and (max-width:1960px){
  .ordertype-header{
    font-size: 20px;
  }
}
@media only screen and (max-width:1710px){
  .ordertype-header{
    font-size: 15px;
  }
}
@media only screen and (max-width:1410px){
  .ordertype-header{
    font-size: 12px;
  }
}

/************************* EXIT MODAL ********************************/
.my-modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);

}


.my-modal-content{
  background-color: #f4f4f4;
  margin: 20% auto;
  padding: 20px;
  width: 30%;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.7);
  animation-name: modalopen;
  animation-duration: .55s;
}

@media only screen and (min-width:1920px ) {
  .my-modal-content{
    width: 35%;
  }
}
@media only screen and (min-width:940px ) {
  .my-modal-content{
    width: 40%;
  }
}
@media only screen and (min-width:825px ) {
  .my-modal-content{
    width: 45%;
  }
}
@media only screen and (min-width:740px ) {
  .my-modal-content{
    width: 50%;
  }
  .myModalBtn{
    width: 75%;
  }
}
.my-modal-content button{
  width: 25%;
}

#closeBtn{
  color: #ccc;
  font-size: 15px;
}

#closeBtn:hover,#closeBtn:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modalBtn{
  background: rgba(0, 0, 0, 0.5);
  border: none;
  color: #fff;
}

.myModalBtn{
  border-radius: 10px;
  border: none;
  background: linear-gradient(#f59595,#fc0808);
}

.myModalBtn:hover{
  background: linear-gradient(#fc0808,#801212);
}

.divider{
  width: 5px;
  height: auto;
  display: inline-block;
  font-weight: bold;
}

@keyframes modalopen {
  from{
    opacity: 0;

  }
  to{
    opacity: 1;
  }
}

/**************************************************************************************/
/* PIZZA PARALLAX */

#my-pizza-plx{
  background: url(img/pizza2.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-pizza-plx-title{
  padding: 105px 20px;
}

.my-pizza-plx-title h2{
  font-size: 20px;
  font-weight: bold;
}

/* SIDES PARALLAX */

#my-sides-plx{
  background: url(img/sidespara.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-sides-plx-title{
  padding: 105px 20px;
}

.my-sides-plx-title h2{
  font-size: 20px;
  font-weight: bold;
}

/* DRINKS PARALLAX */

#my-drinks-plx{
  background: url(img/beverage.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-drinks-plx-title{
  padding: 105px 20px;
}

.my-drinks-plx-title h2{
  font-size: 20px;
  font-weight: bold;
}
/* DESSERT PARALLAX */

#my-dessert-plx{
  background: url(img/stickybuns.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.my-dessert-plx-title{
  padding: 105px 20px;
}

.my-dessert-plx-title h2{
  font-size: 20px;
  font-weight: bold;
}
/**************************** PIZZA MODAL *******************************************/
.my-pizza-modal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.my-pizza-modal-content{
  background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  width: 65%;
  /*height: 40%;*/
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.6), 0 5px 10px 0 rgba(0, 0, 0, 0.6);
}

.my-pizza-modal-content a, button{
  text-align: center;
}

.my-checkboxes{
  align-items: flex-start;
}

.my-pizza-modal h4{
  text-align: center;
}

.addToCart{
  margin: auto;
  text-align: center;
  border-radius: 10px;
  border: none;
  background: linear-gradient(#f59595,#fc0808);
}

.addToCart:hover{
  background: linear-gradient(#fc0808,#801212);
}

#pizzaCloseBtn{
  cursor: pointer;
}

@media only screen and (max-width:1100px ) {
  .box-row{
    font-size: 12px;
  }
  .my-pizza-modal h2{
    font-size: 24px;
  }
}


/* SHOPPING CART */
.shopping-cart{
  margin-top: 12px;
  width: 350px;
  box-shadow: 5px 15px 25px #555;
  position: fixed;
  z-index: 9999;
  right: -350px;
  transition: .6s ease-in-out;
  overflow: auto;
}

.cart-card{
  border-radius: 0 0 0 15px;
}


/****************************************************/
/****************************************************/

@import url('https://fonts.googleapis.com/css?family=Montserrat:500&display=swap');
.LoginBody
{
	margin: auto;
	padding: 0;
	font-family: "Montserrat", sans-serif;
	background: url(img/bg1.jpg);
	background-size: cover;
	max-height: 883px;
}
/*********************************
 ***********LOGIN FORM************
 *********************************/

.loginbox
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 400px;
	padding:40px;
	background: rgba(0,0,0,.8);
	box-sizing: border-box;
	box-shadow: 0 15px 25px rgba(0,0,0,.5);
	border-radius: 10px;
}
.loginbox h2
{
	margin: 15px 0 30px;
	padding: 0;
	color: #fff;
	text-align: center;

}
.loginbox .inputBox
{
	position: relative;
}
.loginbox .inputBox input
{
	width: 100%;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	letter-spacing: 1px;
	margin-bottom: 30px;
	border: none;
	border-bottom: 1px solid #fff;
	outline: none;
	background: transparent;
}

.loginbox .inputBox label
{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 16px;
	color: #fff;
	pointer-events: none;
	transition: .5s;
}
.loginbox .inputBox input:focus ~label,
.loginbox .inputBox input:valid ~label{
	top: -18px;
	left: 0;
	color: #f50707;
	font-size: 12px;

}
.loginbox input[type="submit"]
{
	background: transparent;
	border: none;
	outline: none;
	color: #fff;
	background: #f50707;
	padding: 10px 20px;
	cursor: pointer;
	border-radius: 5px;
}
.loginbox .righHref{
	text-align: right;
	float: right;
}
.loginbox a{
	text-decoration: none;
	background: transparent;
	padding: 0 0 0 20px;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;
}
.avatar{
	width: 110px;
	height: 100px;
	border-radius: 50%;
	position: absolute;
	top: -50px;
	left: calc(50% - 50px);
}

.collapsible {
  background-color: #777;
  color: #fff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  font-weight: bold;
}

.active, .collapsible:hover {
  background-color: #555;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

/* Full-width input fields */
.changePSW input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.changePSW input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
.changePSW hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.changePSW .registerbtn {
  background-color: red;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.changePSW .registerbtn:hover {
  opacity: 1;
}
/*********************************/

.checkout .row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}

.checkout .col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.checkout .col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.checkout .col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.checkout .col-25,
.checkout .col-50,
.checkout .col-75 {
  padding: 0 16px;
}

.checkout .container {
  background-color: #f2f2f2;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

.checkout input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.checkout label {
  margin-bottom: 10px;
  display: block;
}

.checkout .icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.checkout .btn {
  background-color: red;
  color: #fff;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.checkout .btn:hover {
  background-color: #7f0000;
}

.checkout span.price {
  float: right;
  color: grey;
}

/***********************************/
.AddAddressModal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.AddAddressModalContent{
  background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 10px 15px 0 rgba(0, 0, 0,
0.5);
  animation-name: openForm;
  animation-duration: .5s;
}
.AddAddressCloseBTN{
  color: #ccc;
  float: right;
  font-size: 30px;
}

.AddAddressCloseBTN:hover, .AddAddressCloseBTN:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes openForm {
  from{opacity: 0}
  to{opacity: 1}
}

/* Full-width input fields */
.AddressModalBody input[type=text],.AddressModalBody  input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.AddressModalBody input[type=text]:focus, .AddressModalBody
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for the submit/register button */
.AddressModalBody .registerbtn {
  background-color: red;
  color: white;
  padding: 5px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

/***********************************/
.AddPaymentModal{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.5);
}

.AddPaymentModalContent{
  background-color: #fff;
  margin: 20% auto;
  padding: 20px;
  width: 70%;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2), 0 10px 15px 0 rgba(0, 0, 0,
0.5);
  animation-name: openForm;
  animation-duration: .5s;
}
.AddPaymentCloseBTN{
  color: #ccc;
  float: right;
  font-size: 30px;
}

.AddPaymentCloseBTN:hover, .AddPaymentCloseBTN:focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

@keyframes openForm {
  from{opacity: 0}
  to{opacity: 1}
}

/* Full-width input fields */
.PaymentModalBody input[type=text],.PaymentModalBody  input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 15px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.PaymentModalBody input[type=text]:focus, .PaymentModalBody
input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Set a style for the submit/register button */
.PaymentModalBody .registerbtn {
  background-color: red;
  color: white;
  padding: 5px 10px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
